.form__element{
    margin:1rem 0 0 0;
    width:100%;
}
.form__element--input{
        width:100%;
        padding:1rem 1rem;
        font-size: 1.5rem;
        border:2px groove gainsboro;
        border-radius:4px;
}

.form__element--input--error{
    border-color: red;
}
.form__element--error{
  font-weight:bold;
  color:red;
  margin:0 0 0.5rem 0;
}
.form__element--label{
        display:block;
        font-size: 21px;
        margin:0 0 0.4rem 0;
        font-weight:bold;
    }
.form__element--label::after{
        content:":";
    }